<html> 
<head> 
	<title> 
		gfg 
	</title> 
</head> 
<body> 
	<center> 
		<div style="height:300px; width:500px; color:white; 
			border:1px solid; background-color: #009900;"> 
			
			<caption> 
				
			<%= link_to "Refresh", home_path %>
			<%= link_to "hello", hello_path %>
			<%= link_to "hi", hi_path %>

			
			</caption> 
			<h1>

			HI! 
			
			</h1> 
		</div> 
		
	</center> 
</body> 
</html> 

